$ZO: 0px;
$XS: 576px;
$SM: 768px;
$MD: 991px;
$XL: 1199px;

// media queries

@mixin Responsive($canvas) {
  @if $canvas == ZO {
    @media only screen and (max-width: $ZO) {
      @content;
    }
  } @else if $canvas == XS {
    @media only screen and (max-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $XL) {
      @content;
    }
  }
}
.col-0 {
  width: 0px !important;
  display: none !important;
}
.top104 {
  margin-top: 104px;
}
.top48 {
  margin-top: 48px;
}
.padding65 {
  padding-top: 65px;
}
.bottom104 {
  margin-bottom: 104px;
}
.content {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
}
%robot {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}
%pt-serif {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
}
%circle {
  width: 85px;
  height: 85px;

  border-radius: 85px;
  background: #e6efff;
}
.check-content-packages {
  margin-top: 48px;
  @extend %robot;
  font-size: 18px;
  color: #212121;
  @include Responsive(SM) {
    font-size: 13px;
  }
  @include Responsive(XS) {
    font-size: 18px;
  }
}
#header {
  #menu {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #212121;
    margin-top: 27px;
    .menu-button {
      width: 136px;
      height: 46px;
      padding: 14px 20px !important;
      background: #005dff;
      border-radius: 4px;
      @include Responsive(XS) {
        margin-left: 20%;
      }
      .button-content {
        height: 18px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 100%;
      }
    }
  }

  .header-title {
    margin-top: 147px;

    h1 {
      font-family: "PT Serif", serif;
      font-style: normal;
      font-weight: 700;
      font-size: 57px;
      line-height: 120%;
      color: #212121;
      @include Responsive(SM) {
        font-size: 30px;
      }
    }
  }
  .header-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #757575;
    margin-top: 22px;
  }
  .header-button {
    margin-top: 102.5px;
    text-align: center;
  }
  .slide1 {
    h3 {
      img {
        width: 100% !important;
      }
    }
  }
}
#body {
  @extend .top104;
  text-align: center;
  color: #9e9e9e;

  // margin-top: 104px;
  .logo-pro {
    margin-top: 106px;
    div {
      img {
        width: 100%;
        @include Responsive(SM) {
          padding-top: 10px;
          height: 100%;
        }
      }
    }
  }

  .header-body-two {
    @extend %pt-serif;
    font-size: 58px;
    color: #212121;
    @include Responsive(SM) {
      font-size: 30px;
    }
  }
  .three-content {
    margin-top: 66px;
    .circle-color-1 {
      width: 85px;
      height: 85px;
      border-radius: 85px;
      background: #e6efff;
      .circle-one {
        @extend %pt-serif;
        color: #005dff;
        font-size: 58px;
      }
    }
    .two-content-1 {
      margin-top: 34px;
      @extend %robot;
      color: #005dff;
    }
    .circle-color-2 {
      .circle-two {
        @extend %pt-serif;
        color: #ff6a00;
        font-size: 58px;
      }
    }
    .circle-color-2 {
      @extend %circle;
      background-color: #ffefe6;
      .circle-two {
        @extend %pt-serif;
        color: #ff6a00;
        font-size: 58px;
      }
    }
    .two-content-2 {
      margin-top: 34px;
      @extend %robot;
      color: #ff6a00;
    }
    .circle-color-3 {
      @extend %circle;
      background-color: #e5faed;
      .circle-three {
        @extend %pt-serif;
        color: #28a154;
        font-size: 58px;
      }
    }
    .two-content-3 {
      margin-top: 34px;
      @extend %robot;
      color: #28a154;
    }
    .three-content-body {
      @extend %robot;
    }
  }
  .content-testimonial {
  
    .quote {
      img {
        @include Responsive(MD) {
          width: 15%;
        }
      }
    }
    .testimonial-body {
      color: #424242;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 140%;
      @include Responsive(XL) {
        font-size: 25px;
      }
      @include Responsive(MD) {
        font-size: 18px;
      }
    }
    .testimonial-title-1 {
      @extend %pt-serif;
      font-size: 18px;
      font-weight: 700;
      @include Responsive(MD) {
        font-size: 14px;
      }
    }
    .testimonial-title-2 {
      margin-bottom: 100px;
      @extend %pt-serif;
      font-size: 18px;
      font-weight: 400;
      @include Responsive(MD) {
        font-size: 14px;
      }
    }
    /* slide 2*/
    .number-slide {
      @extend %pt-serif;
      font-size: 18px;
      color: #000000;
      position: absolute;
      width: 100%;
      bottom: 5%;
      left: -9%;
      @media all and (max-width: 991px) {
        bottom: 0% !important;
        background-color: red;
      }
      @media all and (max-width: 768px) {
        bottom: 2% !important;
        background-color: blue;
      }
      @media all and (max-width: 576px) {
        bottom: 20% !important;
        background-color: yellowgreen;
      }
      @media all and (max-width: 100px) {
        bottom: 20% !important;
      }
      // @include Responsive(XL) {
      //   bottom: 4%;
      //   left: -10%;
      // }
      // @include Responsive(MD) {
      //   bottom: 0%;
     
      // }
      // @include Responsive(SM) {
      //   bottom: 3%;
      // }
    }
    .arrow {
      position: absolute;
      color: #000000;
      // font-size: 2.5em;
      font-weight: bold;
      font-size: 2.5em;
      cursor: pointer;
     
      @include Responsive(SM) {
        bottom: 9%;
      }
    }

    .nextArrow {
      height: 46px;
      top: 88%;
      left: 25%;
      img {
        margin-top: -25px;
      }
     
      @include Responsive(XS) {
        top: 32%;
        left: 49%;
      }
    }

    .prevArrow {
      height: 46px;
      top: 88%;
      right: 85%;
      img {
        margin-top: -25px;
      }
      @include Responsive(XS) {
        top: 32%;
        left: 19%;
      }
      @include Responsive(XS) {
        top: 32%;
        left: 19%;
      }
    }
  }
  .content-packages {
    .header-packages {
      @extend %pt-serif;
      font-size: 57px;
      padding-top: 80px;
      text-align: center;
      color: #212121;
      @include Responsive(SM) {
        font-size: 40px;
      }
    }
    .body-packages {
      margin-top: 61px;
      .content-packages-1 {
        text-align: left;
        background-color: #e6efff;
        @include Responsive(MD) {
          padding: 20px 10px !important;
        }
        @include Responsive(XS) {
          padding: 30px 45px !important;
        }
        .lever-packages-1 {
          @extend %pt-serif;
          font-size: 18px;
          color: #616161;
        }
        .monney-packges-1 {
          @extend%pt-serif;
          font-size: 57px;
          color: #005dff;
        }
        .title-packages-1 {
          @extend %robot;
          font-size: 14px;
          color: #005dff;
        }
        .choose-pan-1 {
          padding-top: 10px;
          width: 100%;
          height: 46px;
          border: 1px solid #005dff;
          box-sizing: border-box;
          border-radius: 80px;
          @extend %robot;
          color: #005dff;
          font-weight: bold;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    .content-packages-2 {
      text-align: left;
      background-color: #ffefe6;
      @include Responsive(MD) {
        padding: 20px 10px !important;
      }
      @include Responsive(XS) {
        padding: 30px 45px !important;
      }
      .lever-packages-2 {
        @extend %pt-serif;
        font-size: 18px;
        color: #616161;
      }
      .monney-packges-2 {
        @extend%pt-serif;
        font-size: 57px;
        color: #ff6a00;
      }
      .title-packages-2 {
        @extend %robot;
        font-size: 14px;
        color: #ff6a00;
      }

      .choose-pan-2 {
        padding-top: 10px;
        width: 100%;
        height: 46px;
        border: 1px solid #ff6a00;
        background-color: #ff6a00 !important;
        box-sizing: border-box;
        border-radius: 80px;
        @extend %robot;
        font-weight: bold;
        color: #fff;
      }
    }
    .content-packages-3 {
      text-align: left;
      background-color: #e5faed;
      @include Responsive(MD) {
        padding: 20px 10px !important;
      }
      @include Responsive(XS) {
        padding: 30px 45px !important;
      }
      .lever-packages-3 {
        @extend %pt-serif;
        font-size: 18px;
        color: #616161;
      }
      .monney-packges-3 {
        @extend%pt-serif;
        font-size: 57px;
        color: #28a154;
      }
      .title-packages-3 {
        @extend %robot;
        font-size: 14px;
        color: #28a154;
      }

      .choose-pan-3 {
        padding-top: 10px;
        width: 100%;
        height: 46px;
        border: 1px solid #28a154;
        box-sizing: border-box;
        border-radius: 80px;
        @extend %robot;
        font-weight: bold;
        color: #28a154;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .content-shot {
    .header-content-shot {
      @extend %pt-serif;
      font-size: 57px;
      color: #212121;
    }

    .content-shot-slide {
      .slide-shot {
        margin-top: 85px;
        padding-right: 10px;
        padding-left: 10px;
        .row {
          div {
            padding: 8px 8px 8px 8px;
            img {
              width: 100%;
            }
          }
        }
      }
      .slick-active {
        color: #005dff;
        a {
          border-bottom: 1px solid #005dff;
        }
      }
      .menu-slide-shot {
        width: 42px;
        color: #9e9e9e;
      }
      .slick-dots {
        top: 0px;
        li {
          width: 100px !important;
        }
      }
    }
    .button-shot {
      margin-top: 63px;
      width: 20%;
      height: 46px;
      padding: 14px 40px;
      border: 1px solid #ff6a00;
      box-sizing: border-box;
      border-radius: 80px;
      @include Responsive(XL) {
        width: 30%;
      }
      @include Responsive(MD) {
        width: 40%;
      }
      @include Responsive(SM) {
        width: 50%;
      }
      @include Responsive(XS) {
        width: 70%;
      }
      &:hover {
        background-color: #ff6a00;
        color: #fff;
        .contetn-button-shot {
          color: #fff;
        }
      }
      .contetn-button-shot {
        @extend %robot;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #ff6a00;
      }
      i {
        width: 10%;
      }
    }
  }
  .our-services {
    background: #fafcff;
    .header-our-services {
      @extend %pt-serif;
      font-size: 57px;
      color: #212121;
      @include Responsive(SM) {
        font-size: 40px;
      }
    }
    .our-services-1 {
      background-color: #e6efff;
      border-radius: 16px;
      .image-our-service-1 {
        img {
          width: 100%;
        }
      }
      .content-our-service-1 {
        text-align: left;
        padding: 26px 8% 26px 15%;
        @include Responsive(MD) {
          padding: 5px;
        }
      }
      h5 {
        color: #005dff;
        @extend %robot;
        font-size: 32px;
      }
      p {
        @extend %robot;
        color: #212121;
      }
      div {
        span {
          @extend %robot;
          font-weight: bold;
          line-height: 100%;
          color: #005dff;
        }
      }
    }
    .our-services-2 {
      margin-top: 16px;
      background: #e5faed;
      border-radius: 16px;
      .image-our-service-2 {
        img {
          width: 100%;
        }
      }
      .content-our-service-2 {
        //background-color: yellowgreen;
        text-align: left;
        padding: 26px 8% 26px 15%;
        @include Responsive(MD) {
          padding: 5px;
        }
      }
      h5 {
        color: #005dff;
        @extend %robot;
        font-size: 32px;
      }
      p {
        @extend %robot;
        color: #212121;
      }
      div {
        span {
          @extend %robot;
          font-weight: bold;
          line-height: 100%;
          color: #005dff;
        }
      }
    }
  }
  .faq {
    h1 {
      @extend %pt-serif;
      font-size: 57px;
      color: #212121;
      @include Responsive(SM) {
        font-size: 40px;
      }
    }
    .col-left {
      border-right: 1px solid #eeeeee;
      @include Responsive(MD) {
        border-right: none;
        padding: 15px 15px !important;
      }
    }
    .car-faq {
      text-align: left;
      padding-top: 48px;
      .faq1 {
        color: #005dff;
        font-size: 32px;
      }
      .faq2 {
        color: #28a154;
        font-size: 32px;
      }
      .faq3 {
        color: #ff6a00;
        font-size: 32px;
      }
      .content-faq {
        @extend %robot;
        color: #212121;
      }
    }
    .col-right {
      padding-left: 52px;
      @include Responsive(MD) {
        padding: 15px 15px !important;
      }
    }
    .faq4 {
      color: #ff6a00;
      font-size: 32px;
    }
    .faq5 {
      color: #005dff;

      font-size: 32px;
    }
    .faq6 {
      color: #28a154;

      font-size: 32px;
    }
  }
}

#footer {
  .five-col-footer {
    .row {
      div {
        padding-left: 50px;
      }
    }
    h6 {
      @extend %pt-serif;
      margin-bottom: 24px;
    }
    p {
      @extend %robot;
      font-size: 14px;
      color: #616161;
    }
  }
  .contact {
    @include Responsive(XS) {
      padding-left: 50px;
    }
    h6 {
      @extend %pt-serif;
      margin-bottom: 24px;
    }
    p {
      @extend %pt-serif;
      font-size: 14px;
      color: #212121;
      margin-bottom: 24px;
    }
  }
  .social-network {
    border-bottom: 1px solid #e1e6ed;
    padding-bottom: 21px;
    span {
      margin-right: 24px;
    }
  }
  .footer-end {
    .footer-end-left {
      .footer-end-left-content1 {
        @extend %pt-serif;
        font-weight: normal;
        color: #7e92b2;
        .fa-heart {
          color: #eb6453;
        }
      }
      .footer-end-left-content2 {
        @extend %pt-serif;
        color: #6c7e99;
      }
    }

    .footer-end-right {
      text-align: right;
      @include Responsive(SM) {
        text-align: left;
      }
      .footer-end-right-content1 {
        @extend %pt-serif;
        font-weight: normal;
        color: #7e92b2;
        .fa-heart {
          color: #eb6453;
        }
      }
      .footer-end-right-content2 {
        @extend %pt-serif;
        color: #6c7e99;
      }
    }
  }
}
