.top104 {
  margin-top: 104px;
}
.content {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
}
%content {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
}
%circle {
  width: 85px;
  height: 85px;

  border-radius: 85px;
  background: #e6efff;
}
#body {
  @extend .top104;
  text-align: center;
  color: #9e9e9e;

  // margin-top: 104px;
  .logo-pro {
    margin-top: 106px;
  }

  .header-body-two {
    @extend %content;
    font-size: 58px;
    color: #212121;
  }
  .three-content {
    margin-top: 66px;
    .circle-color-1 {
      width: 85px;
      height: 85px;
      border-radius: 85px;
      background: #e6efff;
      .circle-one {
        @extend %content;
        color: #005dff;
        font-size: 58px;
      }
    }
    .two-content-1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      color: #005dff;
    }
    .circle-color-2 {
      .circle-two {
        @extend %content;
        color: #ff6a00;
        font-size: 58px;
      }
    }
    .circle-color-2 {
      @extend %circle;
      background-color: #ffefe6;
      .circle-two {
        @extend %content;
        color: #ff6a00;
        font-size: 58px;
      }
    }
    .circle-color-3 {
      @extend %circle;
      background-color: #e5faed;
      .circle-three {
        @extend %content;
        color: #28a154;
        font-size: 58px;
      }
    }
  }
  .content-testimonial {
    .testimonial-body {
      color: #424242;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 140%;
    }
    .testimonial-title-1 {
      @extend %content;
      font-size: 18px;
      font-weight: 700;
    }
    .testimonial-title-2 {
      @extend %content;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
