.header-title {
  margin-top: 147px;

  h1 {
    font-family: "PT Serif", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    line-height: 120%;
    color: #212121;
  }
}
.header-content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #757575;
  margin-top: 22px;
}
.header-button {
    margin-top: 102.5px;
    text-align: center;
}