#menu {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #212121;
  margin-top: 27px;
  .menu-button {
    width: 136px;
    height: 46px;
    padding: 14px 20px !important;
    background: #005dff;
    border-radius: 4px;
    .button-content {
      height: 18px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 100%;
    }
  }
}
